@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffefed;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffefed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --primary: #fe2726;
    --secondary: #ffefed;
    --bannerBg: #ffe6e3;
  }

  .content-container {
    @apply mx-auto w-full max-w-[2280px] px-5 xl:px-8;
  }
}

